
<main>
    <div class="container">
      <section class="side-options">
        <div class="logo-container">
          <img src="/assets/svg/icons/logo1-security-force.svg" alt="">
        </div>
  
        <div class="btn-list">
          <button class="button-hover">
            <img src="/assets/svg/icons/icon-login.svg" alt="">
            Logins
          </button>
          <button class="button-hover font-weight">
            <img src="/assets/svg/icons/icon-favoritos.svg" alt="">
            Favoritos
          </button>
        </div>

        <div class="add-category">
          <div class="input-add-category">
            <button class="category-list">
              <img src="/assets/svg/icons/add-category-icon.svg" alt="">
              <span>Categorias</span>
            </button>
            <button (click)="AddCategory()" class="add-category-btn">+</button>
          </div>
        </div>

         <!-- LISTA DE CATEGORIAS -->
        <ul
        #categoriesList
        [class.has-scroll]="hasScrolled"
        [class.at-bottom]="isAtBottom"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
      >
        <li
          *ngFor="let category of categories; let i = index"
          cdkDrag
        >
          <div class="color-circle" [style.backgroundColor]="category.color"></div>
          {{ category.title }}

          <ng-template cdkDragPreview>
            <li class="template-preview">
              <div class="color-circle-preview" [style.backgroundColor]="category.color"></div>
              {{ category.title }}
            </li>
          </ng-template>
        </li>
      </ul>

          <!-- SELETOR DE CORES -->
        <div class="color-category" *ngIf="isActive">
          <div class="color-picker">
            <div class="selected-color">
              <div class="color-circle" [style.backgroundColor]="selectedColor"></div>
            </div>
            <div class="color-options">
              <div *ngFor="let color of colors" class="color-option" (click)="selectColor(color)">
                <div class="color-circle" [style.backgroundColor]="color"></div>
                <span></span>
              </div>
            </div>
          </div>
          <input (keyup)="newCategory($event)" [(ngModel)]="inputCategory" class="input-add-category" type="text" placeholder="Nova Categoria">
        </div>

        <div class="container-config">
          <span class="config">
            <img src="/assets/svg/icons/config-icon.svg" alt="">
            Configurações
          </span>
        </div>
      </section>
      <section class="side-list">
        <div class="input-container">
          <label for="seach">
            <img src="/assets/svg/icons/icon-seach.svg" alt="">
          </label>
          <input id="seach" type="text" placeholder="Buscar">
        </div>
        <div>
          <button class="add-button">
            <img src="/assets/svg/icons/icon-add.svg" alt="">
            Adicionar
          </button>
        </div>
      </section>
    </div>
  </main>
  