
<main>
    <div class="container">
      <section class="side-options">
        <div class="logo-container">
          <img src="/assets/logo1-security-force.svg" alt="">
        </div>
  
        <div class="btn-list">
          <button class="button-hover">
            <img src="/assets/icon-login.svg" alt="">
            Logins
          </button>
          <button class="button-hover font-weight">
            <img src="/assets/icon-favoritos.svg" alt="">
            Favoritos
          </button>
        </div>
  
        <div class="add-category">
          <div class="input-add-category">
            <button class="category-list">
              <img src="/assets/add-category-icon.svg" alt="">
              <span>Categorias</span>
            </button>
            <button class="add-category-btn">+</button>
          </div>
        </div>  
        <div class="container-config">
          <span class="config">
            <img src="/assets/config-icon.svg" alt="">
            Configurações
          </span>
        </div>
      </section>
  
      <section class="side-list">
        <div class="input-container">
          <label for="seach">
            <img src="/assets/icon-seach.svg" alt="">
          </label>
          <input id="seach" type="text" placeholder="Buscar">
        </div>
        <div>
          <button class="add-button">
            <img src="/assets/icon-add.svg" alt="">
            Adicionar
          </button>
        </div>
      </section>
    </div>
  </main>
  